body{
	margin: 0;
}

.canvasContainer{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -319px;
	margin-left: -179px;
	height: 638px;
	width: 358px;
	border: 1px solid #999aaa;
}

#gameCanvas{
	position: absolute;
	top: 0;
	left: 0;
}